*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --ModerateBlue: hsl(238, 40%, 52%);
  --SoftRed: hsl(358, 79%, 66%);
  --LightGrayishBlue: hsl(239, 57%, 85%);
  --PaleRed: hsl(357, 100%, 86%);

  /* Neutral */

  --DarkBlue: hsl(212, 24%, 26%);
  --GrayishBlue: hsl(211, 10%, 45%);
  --LightGray: hsl(223, 19%, 93%);
  --VeryLightGray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--VeryLightGray);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

main {
  margin: 30px 10px;
}

.addCommentSection {
  background-color: var(--White);
  border-radius: 5px;
  padding: 15px;
}

textarea {
  font-family: 'Rubik', sans-serif;
  height: 90px;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid var(--LightGray);
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.profile {
  height: 40px;
}

.submit-button {
  height: 100%;
  width: 110px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 1.1rem;
  background-color: var(--ModerateBlue);
  color: var(--LightGray);
}

.userComment {
  border: 2px solid;
  background-color: var(--White);
  padding: 20px;
}

.topSection,
.middleSection,
.bottomSection {
  margin-bottom: 10px;
}

.topSection {
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middleSection {
  border: 2px solid;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.scoreContainer {
  border-radius: 5px;
  background-color: var(--LightGray);
  display: flex;
  width: 100px;
  height: 80%;
}

.plusButton,
.score,
.minusButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.score,
.minusButton {
  color: var(--ModerateBlue);
  font-weight: 500;
}

.actionContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.actionButton {
  width: 75px;
  height: 100%;
  background-color: var(--White);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: none;
}

.delete,
.edit {
  color: var(--SoftRed);
  font-weight: 700;
  font-size: 1.01rem;
}

.edit {
  color: var(--ModerateBlue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
